*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    /* box-sizing: inherit; */
}
:root{
    --primary-color: #e52f37;
    --white-color: #ffff; 
    --header-heigth: 92px;
    --text-color:#071e55;
    --decription-color:#7c8595;
}
.btn--primary{
    outline: none;
    border-radius: 20px;
    height: 56px;
    padding: 1% 2%;
}
.pull-right {
    float: right;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.row {
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
}


.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.col-haf {
    width: 50%;
}
.height-ful{
    height: 100%;
}
.blue{
    background-color: #1e90ff;
}
.red{
    background-color: var(--primary-color);
}
.green{
    background-color: #27b36a;
}
.blue--text{
    color: #1e90ff;
}
.red--text{
    color: var(--primary-color);
}
.green--text{
    color: #27b36a;
}
.text-white{
    color: var(--white-color);
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
@keyframes growth {
    0%{
        transform: scale(0);
        opacity: 0.8;
    }
    25%{
        transform: scale(1.2);
        opacity: 1;
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);

    }
    
}
.separate {
    border-left: 1px solid var(--decription-color);
    padding-left: 30px;
}
.special{
    width: 100%;
    height: 453px;
    background-image: url(../img/fun/fun1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.special-overlay{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.95;
}
.option-text{
    color: var(--text-color);
}